%-*-Erlang-*-
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{deps, [
	{setup, "1.8.4"},
	{lager, "3.5.2"},
	{erlando, {git, "https://github.com/travelping/erlando.git", {tag, "1.0.0"}}},
	{eradius, {git, "https://github.com/RoadRunnr/eradius.git", {branch, "rework/3ggp-dict"}}}
]}.

{minimum_otp_vsn, "20.1"}.
{plugins, [
    { rebar3_diameter_compiler, "0.5.0" }
]}.

%% xref checks to run
{xref_checks, [undefined_function_calls, undefined_functions,
	       deprecated_function_calls, deprecated_functions]}.
{xref_queries,
 [{"(L * ((UU + XU - LU) + domain EE + range EE)) - \"diameter_.*\" : Mod", []}    %% locals_not_used
 ]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{provider_hooks,
	[{pre,
		[{compile, {diameter, compile}},
		 {clean, {diameter, clean}}
	]}
]}.

%% == Diameter compiler ==
{dia_first_files, []}.
{dia_opts, []}.
